.headline {
    font-weight: 300;
    font-size: 2.875rem;
    color: $mainBlue;

    &--centered {
        text-align: center;
    }

    &--orange {
        color: $mainOrange;
    }

    &--small {
        font-size: 1.875rem;
    }

    &--narrow {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    &--light {
        font-weight: 100;
    }

    &--b-margin-small {
        margin-bottom: 0.5em;
    }

    &--b-margin-large {
        margin-bottom: 1.6em;
    }
}
