.row {
    &::after {
        content: "";
        clear: both;
        display: table;
    }

    &--gutters {
        margin-right: -65px;
    }

    &--guttes-large {
        margin-right: 100px;
    }

    &--gutters > div {
        padding-right: 65px;
        box-sizing: border-box;
    }

    &--gutters-large > div {
        padding-right: 100px;
    }

    &__b-margin-until-medium {
        margin-bottom: 1rem;
    }

    @mixin atMedium {
        &__b-margin-until-medium {
            margin-bottom: 0;
        }

        &__medium-4 {
            float: left;
            width: 33.33%;
        }

        & __medium-4--larger {
            width: 37%;
        }

        &__medium-6 {
            width: 50%;
            float: left;
        }

        &__medium-8 {
            float: left;
            width: 66.66%;
        }

        &__medium-8--smaller {
            width: 63%;
        }
    }
}
