.section-title {
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;

    @mixin atSmall {
        font-size: 3.75rem;
    }

    strong {
        font-weight: 500;
    }

    &__icon {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0.6rem;

        @mixin atSmall {
            margin-right: 0.5rem;
            margin-left: 0;
            display: inline-block;
            margin-bottom: 0;
        }
    }
}
